<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <!--  <div *ngIf="!onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: even % 2 !== 0}" [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div> -->
        <!-- using logic of IF statement on DOM, but without using Structural directive *ngIf -->
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item" [ngClass]="{odd: even % 2 !== 0}" [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>
        </ng-template>
      </ul>
      <p appBasicHighlight_customeDirective> Style me with custome directive !!</p>
      <!-- 
      appBasicHighlight_customeDirective -> is custome attribute directive which can be placed as an
      attribute on HTML element (or) custome element
       -->
      <p appBetterHighlighter_customeDirective> Style me with custome directive !!</p>

      <p appHoverHighlighter_customeDirective> Style me with custome directive !!</p>
      <div appHoverDivHighlighter_customeDirective>
        THis is a div Element
      </div>
      <div appHoverDivHighlighter_customeDirective [defaultColor]="'transparent'" [appHighlighterAliasName]="'yellow'">
        This is a Second div Element
      </div>
      <!-- shortuct of above code (removing the square barcket and single quotes of the string) -->
      <div appHoverDivHighlighter_customeDirective defaultColor="lightpink" appHighlighterAliasName="lightyellow">
        This is a Second div Element
      </div>


      <!--
         Using of Custome Structural directive instead of using builtin structural directive 
        myStructuralProperty-> is our own cutome structural directive which we have build
      -->
      <div *ngIf="isMarried">
        Usha is married
      </div>
      <div *myStructuralProperty="isMarried">
        Shailesh is married
      </div>
      <div *myStructuralProperty="!isMarried">
        Tejas is not married
      </div>

      <!-- Using builtin Structural directive -> *ngSwitch() -->
     <div [ngSwitch]="myValue">
       <div *ngSwitchCase="5">Value is 5</div>
       <div *ngSwitchCase="10">Value is 10</div>
       <div *ngSwitchCase="15">Value is 15</div>
       <div *ngSwitchDefault>Default value is nothing</div>
     </div>

    </div>
  </div>
</div>
